@import "variable/*"
@import "icon/*"
@import 'axis'
@import 'jeet'
@import 'rupture'

border-box-html()
fluid-media() //care flex box image
rupture.scale = 0 400px 600px 780px 960px 1300px
rupture.scale-names = 'xs' 'sm' 'm' 'l' 'xl' 'hd'
jeet.gutter = 2

.main-cont
	center(968px)
	padding 5px

a
	text-decoration none
ul
	padding 0
body
	font-family Arial
input,textarea
	border 0px

.top-menu
	background main-color
	a
		color white
		margin-left 30px
		font-size 14px
		&:hover,
		&:focus
			color yellow
			text-decoration underline
.top-menu-wrap
	+below(960px)
		padding-right 20px
		justify-content center
	+below(480px)
		flex(around)
		padding 0
		a
			font-size 12px
			margin 0
	flex(mid)
	height 40px
	justify-content flex-end
	
.header-wraper
	+below(480px)
		flex-wrap wrap
		flex(mid)
		height auto
		padding 5px
	padding 15px 0
	flex(between)
	height 110px
//.main-cont
.header-basket-inf-wrap
	+below(460px)
		width 100%
		flex-wrap no-wrap
.header-logo
	+below(480px)
		width 100%
	flex(mid)
.header-contact
	+below(760px)
		margin 20px
		.header-contact-phone,
		.header-contact-email
			font-size 24px
			margin 5px
	+below(680px)
		.header-contact-phone,
		.header-contact-email
			font-size 16px
	+below(480px)
		.header-contact-phone,
		.header-contact-email
			font-size 14px
	+below(460px)
		flex-flow row
		margin 10px
	flex(around)
	flex-flow column
	height 100%
.header-contact-phone
	+below(760px)
		font-size 16px
	color #364657
	font-family Arial
	font-size 22px
	font-weight 700
	line-height 16px
.header-contact-email
	+below(760px)
		font-size 16px
	color #364657
	font-family Arial
	font-size 22px
	font-weight 700
	line-height 16px
.header-nav
	+below(760px)
		display none
	flex(between)
	flex-flow column
	height 100%
.header-nav-el
	color #364657
	font-family Arial
	font-size 12px
	font-weight 400
	line-height 29px
.header-basket
	flex(mid)
.header-basket-top
	flex(mid)
	width 100%
	margin-bottom 10px
.header-basket-reg
	color #364657
	font-family "Trebuchet MS"
	font-size 10px
	font-style italic
	line-height 13px
	text-decoration underline
	margin-right 30px
	position relative
	&:after
		content '|'
		position absolute
		right -15px
		position absolute
.header-basket-enter
	color #364657
	font-size 13px
	font-weight 700
	line-height 13px
.header-basket-inf
	flex(between)
	flex-flow column
	align-items flex-start
.header-basket-inf-title
	+below(380px)
		font-size 12px
	font-family Arial
	font-size 15px
	font-weight 700
	line-height 16px
	text-transform uppercase
.header-basket-inf-number
	font-family Arial
	font-size 12px
	line-height 16px
	color grey-text
	margin 5px 0
	span
		margin-right 5px
.bold-text
	font-weight 700
	color main-color
.header-basket-inf-cost
	font-family Arial
	font-size 12px
	line-height 16px
	color grey-text
.header-wraper-el
	+below(760px)
		width 33% 
	+below(480px)
		width 100%
	width 25%
	height 100%
.header-basket-wrap
	+below(680px)
		width 100%
	+below(480px)
		flex-wrap wrap
	width 80%
	flex(mid)
	flex-flow column
.header-basket-inf-wrap-el
	+below(480px)
		flex(between)
		width 70%
	+below(380px)
		width 100%
		.bold-text
			font-size 12px
.header-basket-inf-wrap
	+below(480px)
		width 100%
		flex(mid)
		flex-wrap no-wrap
	display flex

.main-left-review-wrap
	+below(480px)
		display none
.header-basket-inf-wrap-img
	margin-right 10px
	
//.menu-cat
.menu-cat-product
	+below(760px)
		order 2
		width 50%
		padding 15px
		border: 3px solid #2A4457
	width 220px
	height 100%
	flex(mid)
	background yellow
	position relative
.menu-cat-want
	+below(760px)
		order 3
		width 50%
		padding 15px
		border: 3px solid #2A4457
	+below(480px)
		font-size 10px
		text-transform uppercase
		height auto
	+below(380px)
		font-size 9px
	width 220px
	height 100%
	flex(mid)
	background yellow
.menu-cat-search
	+below(760px)
		width 100%
		order 1
		padding 10px
		input
			width 90%
	width 55%
	background main-color
	flex(mid)
	input
		width 100%
		padding 7px
		border 0px
		position relative
#main-search+label:before
	content ''
	position absolute
	right 10px
	width 25px
	height 25px
	top 50%
	margin-top -12px
	background-size cover
	bgi('icon-search.png')
	
//.menu-cat-want-text

.menu-cat-wrap
	+below(760px)
		flex-wrap wrap
		height auto
		margin-bottom 0
	display flex
	height 55px
	margin-bottom 20px
.menu-cat-search-wrap
	+below(760px)
		width 90%
	width 80%
	position relative
.content
	//height 300px
	
.footer
	background main-color
	border-top 2px solid yellow
//.main-cont
//.footer-wrap
.footer-head
	+below(760px)
		flex-wrap wrap
	//height 145px
	flex(mid)
	padding 20px 0
.footer-head-el
	+below(760px)
		&:nth-child(1)
			width 100%
			margin-bottom 20px
		width 33%
	width 25%
	flex(around)
	flex-flow column
	height 100%
	a
		+below(380px)
			font-size 9px
			text-align center
		color white
		font-size 12px
		margin-bottom 10px
		text-align center
.footer-contact
	padding 10px 0
.footer-contact-info
	flex(between)
	flex-wrap wrap
.footer-contact-info-write
	+below(480px)
		width 100%
		text-align center
		margin-bottom 20px
	color #98c3d9
	font-family "Trebuchet MS"
	font-size 18px
	font-weight 700
	line-height 16px
	text-transform uppercase
.footer-contact-info-phone
	color #364657
	font-family "Trebuchet MS"
	font-size 18px
	font-weight 700
	line-height 16px
	text-transform uppercase
.footer-contact-info-mail
	color #364657
	font-family "Trebuchet MS"
	font-size 18px
	font-weight 700
	line-height 16px
.footer-contact-info-pay
	+below(760px)
		width 100%
		flex(mid)
		margin-top 15px
	+below(480px)
		display none
	flex(between)
	img
		margin-left 20px
.footer-contact-soc
	+below(760px)
		flex(mid)
		flex-wrap wrap
		flex-flow column
		margin-top 0
	flex(between)
	margin-top 20px
	.fa
		color #A8D3E3
		padding 5px
		margin-right 10px
		border 1px solid #A8D3E3
		border-radius 50%
		font-size 16px
		line-height 18px
		height 30px
		width 30px
		text-align center
.footer-contact-soc-left
	+below(760px)
		width 100%
		margin 10px
		flex(mid)
.footer-contact-soc-right
	+below(760px)
		width 100%
		flex(mid)
	+below(480px)
		display none
	display flex
	img
		margin-left 10px

.main-left-menu
	+below(480px)
		margin-top -10px
		display none
.menu-cat-product-title
	span
		+below(480px)
			font-size 12px
		+below(380px)
			font-size 9px
		font-family Arial
		font-size 14px
		font-weight 400
		text-transform uppercase
		color main-color
		position relative
	.fa-bars
		display none
		+below(480px)
			display block
			left 5px
			margin-top -7px
		position absolute
		top 50%
		left 15px
		margin-top -8px
	&:before
		+below(760px)
			display none
		content ''
		width: 0
		height: 0
		border-left: 4px solid transparent
		border-right: 4px solid transparent
		border-top: 6px solid main-color
		position absolute
		right 10px
		top 50%	
		margin-top -4px
// ######### Navigation ##########
+above(1100px)
	.menu-cat-product
		&:hover
			.first-lvl
				display block
				&:hover
					.second-lvl
						display block
						&:hover
							.three-lvl
								display block
							
.show
	display block!important
.menu-cat-product-next
	width 20%
	height 100%
	position absolute
	top 0px
	right 0px
	background none
	
.first-lvl,
.second-lvl,
.three-lvl
	position relative
	display none

.first-lvl 
	& > a
			text-decoration underline
.three-lvl
	a
		&:before
			content ''
			border 0px!important
.menu-cat-product-sub
	+below(760px)
		display none!important
	position absolute
	top 55px
	left 0
	width 100%
	z-index 2000
	a
		color main-color
		padding 10px
		display inline-block
		width 100%
		position relative
		&:hover
			background main-color
			color white
			text-decoration none
			&:before
				content ''
				border-left: 8px solid white
		&:before
			content ''
			width: 0
			height: 0
			border-top: 4px solid transparent
			border-left: 6px solid main-color
			border-bottom: 4px solid transparent
			position absolute
			right 10px
			top 50%	
			margin-top -4px

.menu-cat-product-sub > .menu-cat-product-sub-el
	.menu-cat-product-sub-el
		right -215px
		position absolute
		top 0px
		width 100%
.menu-cat-product-sub-el
	background #F9F9F9

.easytree-icon
	display none!important

.easytree-title
	color main-color!important
	text-decoration underline!important
	font-size 14px
	line-height 16px
	margin-bottom 10px
	font-weight 400
.easytree-container
	+below(760px)
		width 100%
		margin-bottom 20px
		.easytree-title
			font-size 18px
			color white!important
			text-decoration none!important
		li
			background main-color!important
			padding 10px!important
	margin 0
	margin-bottom 40px
	ul
		.easytree-title
			color main-color!important
			text-decoration none!important
			color #898989!important

.easytree-title
	+below(960px)
		font-size 12px
.main-left
	+below(760px)
		col(1)
	col(0.22)
.main-right
	+below(760px)
		col(1)
		padding-left 0
	col(0.78)
	padding-left 15px
.main-right-slider
	+below(480px)
		margin-bottom 20px
	img
		width 100%
		
.main-adv
	+below(480px)
		display none
	margin 20px 0px
	width 100%
	margin-bottom 40px
	flex(around)
.main-adv-el
	flex(mid)
	flex-flow column
.main-adv-el-text
	margin-top 20px
	font-size 14px
	font-weight 700
	line-height 16px
	text-transform uppercase
	color main-color

.title
	font-size 18px
	font-weight 700
	line-height 16px
	text-transform uppercase
	padding-bottom 15px
	margin-bottom 15px
.title-border
	border-bottom 1px solid #DEDEDE
ul.easytree-container ul
	padding 0 !important
	
//.main-left-review
.main-left-review-el
	+below(760px)
		col(1/3)
		border-bottom 1px solid #DEDEDE!important
	margin-bottom 15px
	padding-bottom 15px
	border-bottom 1px solid #DEDEDE
	&:last-child
		border 0px
.main-left-review-el-top
	flex(mid)
	align-items flex-start
	margin-bottom 10px
.main-left-review-el-img
	width 30%
	margin-right 5px
//.main-left-review-el-info
.main-left-review-title
	color black
	font-family Arial
	font-size 12px
	font-weight 700
	line-height 16px
.main-left-review-name,
.main-left-review-date
	color #9d9d9d
	font-family Arial
	font-size 10px
	font-weight 700
	line-height 19px
.main-left-review-el-bot
	color #898989
	font-family Arial
	font-size 10px

.product-card-wraper
	margin-bottom 10px
	cf()
.product-card-el
	col(1/3,cycle:3)
	+below(780px)
		col(1/2, uncycle: 3,cycle:2)
	//+below(380px)
		//col(1, uncycle: 2,cycle:1)
	margin-bottom 30px
.product-card-view
	padding 10px
	border 3px solid yellow
//.product-card-reiting
.product-card-img
	img
		+below(380px)
			width 80%
		display block
		margin 0 auto
		width 100%
.product-card-name
	font-size 16px
	font-weight 700
	line-height 16px
	text-align center
.product-card-review
	+below(480px)
		width 100%
		text-align center
		font-size 16px
		font-weight 400
	color #9d9d9d
	font-family Arial
	font-size 10px
	font-weight 700
	line-height 19px
	text-decoration underline
	margin 5px 0
	display inline-block
.product-card-but
	padding 10px
	flex(mid)
	flex-flow column
	background yellow
.product-card-price
	+below(760px)
		font-size 18px
	color black
	font-family Arial
	font-size 12px
	font-weight 700
	line-height 19px
.product-card-getText
	color black
	font-family Arial
	font-size 14px
	font-weight 700
	line-height 19px
	text-transform uppercase
	
.part-title
	color #364657
	font-family Arial
	font-size 18px
	font-weight 700
	line-height 16px
	text-transform uppercase
	margin-bottom 20px
.cabinet-tab
	.r-tabs-nav
		padding 10px
		flex(between)
		background #F8F8F8
		margin-bottom 20px
	li.r-tabs-state-active
		background #83C4DB
		a
			color white
	.r-tabs-tab
		padding 10px 0
		width 100%
	.r-tabs-nav
		a
			color #898989
			font-family Arial
			font-size 20px
			font-weight 400
			text-align center
			width 100%
			display inline-block
	+below(768px)
		ul.r-tabs-nav
			display none
//.cabinet-tab-el

//.cabinet-tab-el
//.cabinet-order
.cabinet-order-title
	color #364657
	font-family Arial
	font-size 18px
	font-weight 700
	line-height 16px
	text-transform uppercase
	margin 10px
	margin-bottom 20px
.cabinet-order-table
	width 100%
	margin-bottom 30px
	th
		+below(768px)
			font-size 10px
			padding 5px
		color #364657
		font-family Arial
		font-size 15px
		font-weight 400
		text-transform uppercase
		padding-bottom 10px
		padding 20px
		text-align left
	tbody
		tr
			margin-bottom 10px
			td
				+below(768px)
					font-size 10px
					padding 10px
				+below(480px)
					padding 5px
				padding 20px
				border-top 1px solid #eee
				color #898989
				font-family Arial
				font-size 15px
				font-weight 400
.cabinet-order-review
	background #E9E9E9
	padding 10px 20px
	padding-bottom 0
	label
		color #898989
		font-family Arial
		font-size 18px
		font-weight 400
.cabinet-order-review-title
	color #364657
	font-family Arial
	font-size 20px
	font-weight 400
	margin-bottom 20px
.cabinet-order-review-top
	flex(between)
	flex-wrap wrap
.cabinet-order-review-top-left
	+below(680px)
		width 100%
		margin-bottom 10px
		flex-wrap wrap
		
	display flex
	justify-content flex-start
	align-items center
	width 50%
	label 
		margin-right 10%
		margin-bottom 10px
.cabinet-order-review-top-right
	+below(680px)
		width 100%
		flex-wrap wrap
	display flex
	justify-content flex-start
	align-items center
	width 50%
	label
		+below(680px)
			margin-bottom 10px
			width 100%
		width 30%
		
	input 
		+below(680px)
			width 100%
		width 70%
		
		
//.cabinet-order-review-pagination
.block-pagination
	margin 15px 0px
	a
		color #b4b4b4
		font-size 12px
		padding 10px 5px
	flex(mid)
	position relative
.block-pagination-wrap
	flex(mid)
.active-pagination
	color white!important
	background #83C4DB
.block-pagination-all
	+below(680px)
		display none
	position absolute
	right 0
	top 0
.block-pagination-all-top
	color #b4b4b4
	font-family Arial
	font-size 12px
	font-weight 700
	line-height 16px
.block-pagination-all-val
	color #b4b4b4
	font-family Arial
	font-size 12px
	font-weight 700
	line-height 16px
//.cabinet-order-review-rating
.cabinet-order-review-number
	padding 5px
.cabinet-order-review-text
	flex(mid)
	margin-top 20px
	align-items flex-start
	flex-wrap wrap
	textarea
		+below(680px)
			width 100%
		width 85%
		padding 5px
	label
		+below(680px)
			width 100%
			margin-bottom 10px
		width 15%
.cabinet-order-review
	+below(680px)
		label
			font-size 12px
			width 100%
.r-tabs-accordion-title 
	background #99C3D9
	padding 20px
	a
		color white
		text-align left
		font-size 24px

.star-rating
	.fa
		font-size 20px
		color #2A4457
.active-star
	color #E1C304!important

.cabinet-order-review-footer
	display flex
	justify-content flex-end
	
.button-block
	color white
	padding 5px 20px
	font-family Arial
	font-size 20px
	font-weight 400
	margin 10px 0
	background #83C4DB

.cabinet-tab-liked-left-soc
	+below(768px)
		flex(mid)
		flex-wrap wrap
	flex(between)
	.fa
		+below(768px)
			margin-right 3px
			
		color #A8D3E3
		margin-right 10px
		border 1px solid #A8D3E3
		border-radius 50%
		font-size 14px
		line-height 24px
		height 25px
		width 25px
		text-align center
		&:last-child
			margin-right 0
		
.cabinet-tab-liked-wrap
	//display flex
	cf();
.cabinet-tab-liked-left
	+below(680px)
		width 100%
		margin-bottom 20px
	flex(mid)
	flex-flow column
	col(0.25)
	border 1px solid #eee
	padding 15px
.cabinet-tab-liked-left-title
	color #9d9d9d
	font-family Arial
	font-size 15px
	font-weight 700
	text-transform uppercase
	text-align center
	margin-bottom 20px
.cabinet-tab-liked-left-info
	font-size 12px
	font-weight 700
	line-height 16px
	color #b4b4b4
	text-align center
	width 90%
	padding 10px
	border-top 1px solid #eee
	border-bottom 1px solid #eee
	.mark
		color lblue
	margin-bottom 10px

.cabinet-tab-liked-left-but
	text-align center
	margin 10px
	color #364657
	font-family Arial
	font-size 15px
	font-weight 700
	&:hover
		cursor pointer

.cabinet-tab-liked-right
	+below(680px)
		width 100%
	width 73%
	col(0.75)
	
.cabinet-tab-liked-right-title
	+below(680px)
		text-align center
	color #364657
	font-family Arial
	font-size 18px
	font-weight 700
	line-height 16px
	text-transform uppercase
	
.product-card-get
	flex(between)
	margin-bottom 10px
.product-card-get-left
	color #b4b4b4
	font-family Arial
	font-size 12px
	font-weight 700
	line-height 16px
	flex(mid)
	label 
		margin-left 10px
.product-card-get-right
	.fa
		color #BDBDBD
		&:hover
			cursor pointer

.cabinet-tab-el-basket
	cf()
.cabinet-tab-el-basket-left
	+below(768px)
		width 100%
		margin-bottom 20px
	flex(mid)
	flex-flow column
	col(0.25)
	border 1px solid #eee
	padding 25px 15px
	padding-bottom 0
.cabinet-tab-el-basket-left-title
	color #364657
	font-family Arial
	font-size 15px
	font-weight 700
	text-transform uppercase
	margin-bottom 20px
.cabinet-tab-el-basket-left-check
	+below(768px)
		width 100%
	border-top 1px solid #eee
	padding 10px 0px
.cabinet-tab-el-basket-left-check-el
	flex(between)
	align-items flex-start
	margin-bottom 10px
	label
		width 90%
		color #898989
		font-family Arial
		font-size 15px
		font-weight 400
.cabinet-tab-el-basket-left-itog
	border-top 1px solid #eee
	border-bottom 1px solid #eee
	width 100%
	padding 10px 0
.cabinet-tab-el-basket-left-itog-row
	flex(between)
.cabinet-tab-el-basket-left-itog-inf
	color #898989
	font-family Arial
	font-size 13px
	font-weight 400
	margin-bottom 5px
	&:nth-child(2)
		color lblue
		text-align right
.cabinet-tab-el-basket-footer
	color #898989
	font-family Arial
	font-size 15px
	font-weight 400
	text-transform uppercase
	margin 10px 0

.cabinet-tab-el-basket-right-title
	+below(768px)
		text-align center
		margin-bottom 20px
	color #364657
	font-family Arial
	font-size 18px
	font-weight 700
	line-height 16px
	text-transform uppercase

.cabinet-tab-el-basket-right
	+below(768px)
		width 100%
	col(0.75)
	
.cabinet-tab-el-basket
	width 100%
	th
		+below(768px)
			font-size 10px
			padding 10px 5px
		color #364657
		font-family Arial
		font-size 15px
		font-weight 400
		text-transform uppercase
		padding-bottom 10px
		padding 20px
		text-align left
		text-align center
	tbody
		tr
			margin-bottom 10px
			td
				+below(768px)
					font-size 10px
					padding 10px 5px
				padding 20px 10px
				text-align center
				border-top 1px solid #eee
				color #898989
				font-family Arial
				font-size 15px
				font-weight 400
				
.table-basket-row
	flex(between)
	.fa-times-circle
		&:hover
			cursor pointer
.table-basket-number
	flex(mid)
	input
		border 1px solid #eee
		text-align center
		width 30px
		height 30px

.minus,
.plus
	flex(mid)
	width 30px
	height 30px
	border 1px solid #eee
	&:hover
		cursor pointer

.minus
	border-radius 5px 0px 0px 5px
	border-right 0px

.plus
	border-radius 0px 5px 5px 0px
	border-left 0px
	
.cabinet-tab-basket-but
	flex(mid)
	margin-bottom 50px
.table-basket-img
	img
		width 50px
		margin-right 20px

.cabinet-private-title
	color #364657
	font-family Arial
	font-size 18px
	font-weight 400
	margin-bottom 20px
	font-weight 700
	text-transform uppercase
	text-align center
//.cabinet-private-form
.cabinet-private-form-row
	flex(mid)
	flex-wrap wrap
	margin-bottom 10px
.cabinet-private-form-label
	+below(680px)
		width 100%
		margin-bottom 10px
		text-align left
	width 30%
	text-align right
	padding-right 20px
	color #898989
	font-family Arial
	font-size 16px
	font-weight 400
.cabinet-private-form-row-input
	+below(680px)
		width 100%
		margin-bottom 10px
	width 70%
	input
		padding 5px
		border 1px solid #eee
		width 100%
		
.cabinet-private-form-row-phone
	.cabinet-private-form-row-input
		flex(mid)
	input
		&:first-child
			width 10%
			margin-right 2%
		&:nth-child(2)
			width 88%
			
.cabinet-private-form-row-time
	.cabinet-private-form-row-input
		flex(between)
	select
		border 1px solid #eee
		padding 5px
		width 40%
		
.cabinet-private-form-row-check
	margin-bottom 30px
	.cabinet-private-form-row-input
		display flex
		justify-content flex-start
		input
			width 5%
		span 
			width 95%
			color #98c3d9
			font-family Arial
			font-size 13px
			font-weight 400

.r-tabs .r-tabs-panel
	+below(680px)
		padding 20px 0!important