@import "variable/*"
@import "icon/*"
@import 'axis'
@import 'jeet'
@import 'rupture'

border-box-html()
fluid-media() //care flex box image
rupture.scale = 0 400px 600px 780px 960px 1300px
rupture.scale-names = 'xs' 'sm' 'm' 'l' 'xl' 'hd'
jeet.gutter = 2

.main-cont
	center(968px)
	padding 5px
textarea
	resize: none
a
	text-decoration none
ul
	padding 0
body
	font-family Arial
	position relative
input,textarea
	border 0px


.get-age
	+below(768px)
		width 80%
		text-align center
	display none
	padding 20px
	background white!important
	width 30% 
	border-radius 5px
	a
		margin-right 20px
		color white
		padding 5px 20px
		background main-color
		border-radius 5px
		margin-top 20px
		display inline-block
.top-menu
	background main-color
	a
		color white
		margin-left 30px
		font-size 14px
		&:hover,
		&:focus
			color yellow
			text-decoration underline
.top-menu-wrap
	+below(960px)
		padding-right 20px
		justify-content center
	+below(480px)
		flex(around)
		padding 0
		a
			font-size 12px
			margin 0
	flex(mid)
	height 40px
	justify-content flex-end
	
.header-wraper
	+below(768px)
		flex-wrap wrap
		flex(mid)
		height auto
		padding 5px
	padding 15px 0
	flex(between)
	height 110px
//.main-cont
.header-basket-inf-wrap
	+below(768px)
		width 100%
		flex-wrap no-wrap
.header-logo
	+below(480px)
		width 100%
	flex(mid)
.header-contact
	+below(768px)
		margin 10px
		.header-contact-phone,
		.header-contact-email
			font-size 24px
			margin 5px
	+below(680px)
		.header-contact-phone,
		.header-contact-email
			font-size 16px
	+below(480px)
		.header-contact-phone,
		.header-contact-email
			font-size 14px
	+below(460px)
		flex-flow row
		margin 10px
	flex(around)
	flex-flow column
	height 100%
.header-contact-phone
	+below(768px)
		font-size 16px
	color #364657
	font-family Arial
	font-size 22px
	font-weight 700
	line-height 16px
.header-contact-email
	+below(768px)
		font-size 16px
	color #364657
	font-family Arial
	font-size 22px
	font-weight 700
	line-height 16px
.header-nav
	+below(768px)
		width 60%!important
		flex-flow row
	+below(480px)
		width 100%!important
		a
			font-size 11px
	flex(between)
	flex-flow column
	height 100%
.header-nav-el
	color #364657
	font-family Arial
	font-size 12px
	font-weight 400
	line-height 29px
.header-basket
	flex(mid)
.header-basket-top
	flex(mid)
	width 100%
	margin-bottom 10px
.header-basket-reg
	color #364657
	font-family "Trebuchet MS"
	font-size 10px
	font-style italic
	line-height 13px
	text-decoration underline
	margin-right 30px
	position relative
	&:after
		content '|'
		position absolute
		right -15px
		position absolute
.header-basket-enter
	color #364657
	font-size 13px
	font-weight 700
	line-height 13px
.header-basket-inf
	flex(between)
	flex-flow column
	align-items flex-start
.header-basket-inf-title
	+below(380px)
		font-size 12px
	font-family Arial
	font-size 15px
	font-weight 700
	line-height 16px
	text-transform uppercase
.header-basket-inf-number
	font-family Arial
	font-size 12px
	line-height 16px
	color grey-text
	margin 5px 0
	span
		margin-right 5px
.bold-text
	font-weight 700
	color main-color
.header-basket-inf-cost
	font-family Arial
	font-size 12px
	line-height 16px
	color grey-text
.header-wraper-el
	+below(768px)
		width 100%
	width 25%
	height 100%
.header-basket-wrap
	+below(680px)
		width 100%
	+below(480px)
		flex-wrap wrap
	width 80%
	flex(mid)
	flex-flow column
.header-basket-inf-wrap-el
	+below(768px)
		flex(between)
		width 70%
	+below(380px)
		width 100%
		.bold-text
			font-size 12px
.header-basket-inf-wrap
	+below(768px)
		width 100%
		flex(mid)
		flex-wrap no-wrap
	display flex

.main-left-review-wrap
	+below(480px)
		display none
.header-basket-inf-wrap-img
	margin-right 10px
	
//.menu-cat
.menu-cat-product
	+below(768px)
		order 2
		width 50%
		padding 15px
		border: 3px solid #2A4457
	width 220px
	height 100%
	flex(mid)
	background yellow
	position relative
.menu-cat-want
	position relative
	&:hover
		cursor pointer
	+below(768px)
		order 3
		width 50%
		padding 15px
		border: 3px solid #2A4457
	+below(480px)
		font-size 10px
		text-transform uppercase
		height auto
	+below(380px)
		font-size 9px
	width 220px
	height 100%
	flex(mid)
	background yellow
.menu-cat-search
	+below(768px)
		width 100%
		order 1
		padding 10px
		input
			width 90%
	width 55%
	background main-color
	flex(mid)
	input
		width 100%
		padding 7px
		border 0px
		position relative
#main-search+label:before
	content ''
	position absolute
	right 10px
	width 25px
	height 25px
	top 50%
	margin-top -12px
	background-size cover
	bgi('icon-search.png')
	
//.menu-cat-want-text

.menu-cat-wrap
	+below(768px)
		flex-wrap wrap
		height auto
		margin-bottom 0
	display flex
	height 55px
	margin-bottom 10px
.menu-cat-search-wrap
	+below(768px)
		width 90%
	width 80%
	position relative
.content
	//height 300px
	
.footer
	background main-color
	border-top 2px solid yellow
	margin-top 30px
//.main-cont
//.footer-wrap
.footer-head
	+below(768px)
		flex-wrap wrap
	//height 145px
	flex(mid)
	padding 20px 0
.footer-head-el
	+below(768px)
		&:nth-child(1)
			width 100%
			margin-bottom 20px
		width 33%
	width 25%
	flex(around)
	flex-flow column
	height 100%
	a
		+below(380px)
			font-size 9px
			text-align center
		color white
		font-size 12px
		margin-bottom 10px
		text-align center
		&:hover
			color yellow
.footer-contact
	padding 10px 0
.footer-contact-info
	flex(between)
	flex-wrap wrap
.footer-contact-info-write
	+below(480px)
		width 100%
		text-align center
		margin-bottom 20px
	color #98c3d9
	font-family "Trebuchet MS"
	font-size 18px
	font-weight 700
	line-height 16px
	text-transform uppercase
.footer-contact-info-phone
	color #364657
	font-family "Trebuchet MS"
	font-size 18px
	font-weight 700
	line-height 16px
	text-transform uppercase
.footer-contact-info-mail
	color #364657
	font-family "Trebuchet MS"
	font-size 18px
	font-weight 700
	line-height 16px
.footer-contact-info-pay
	width 30%
	+below(768px)
		width 100%
		flex(mid)
		margin-top 15px
		img
			width 60%
	+below(480px)
		//display none
	flex(mid)
	img
		margin-right 5px
.footer-contact-soc
	+below(768px)
		flex(mid)
		flex-wrap wrap
		flex-flow column
		margin-top 0
	flex(between)
	margin-top 20px
	.fa
		color #A8D3E3
		padding 5px
		margin-right 10px
		border 1px solid #A8D3E3
		border-radius 50%
		font-size 16px
		line-height 18px
		height 30px
		width 30px
		text-align center
.footer-contact-soc-left
	+below(768px)
		width 100%
		margin 10px
		flex(mid)
.footer-contact-soc-right
	+below(768px)
		width 100%
		flex(mid)
	+below(480px)
		display none
	display flex
	img
		margin-left 10px

.main-left-menu
	+below(768px)
		display none !important
	+below(480px)
		margin-top -10px
		display none
.menu-cat-product-title
	+below(768px)
		width 100%
		text-align center
	span
		+below(768px)
			width 100%
			text-align center
		+below(480px)
			font-size 12px
		+below(380px)
			font-size 9px
		font-family Arial
		font-size 14px
		font-weight 400
		text-transform uppercase
		color main-color
		position relative
	.fa-bars
		display none
		+below(768px)
			display block
			left 5px
			margin-top -7px
		position absolute
		top 50%
		left 15px
		margin-top -8px
	&:before
		+below(768px)
			display none
		content ''
		width: 0
		height: 0
		border-left: 4px solid transparent
		border-right: 4px solid transparent
		border-top: 6px solid main-color
		position absolute
		right 10px
		top 50%	
		margin-top -4px
// ######### Navigation ##########
+above(1100px)
	.menu-cat-product
		&:hover
			.first-lvl
				display block
				&:hover
					.second-lvl
						display block
						&:hover
							.three-lvl
								display block
							
.show
	display block!important
.menu-cat-product-next
	width 20%
	height 100%
	position absolute
	top 0px
	right 0px
	background none
	
.first-lvl,
.second-lvl,
.three-lvl
	position relative
	display none
	border-right 3px solid #eee
	&:last-child
		border-bottom 3px solid yellow
.first-lvl 
	& > a
			text-decoration underline
.three-lvl
	a
		&:before
			content ''
			border 0px!important
.menu-cat-product-sub
	+below(768px)
		//display none!important
	position absolute
	top 55px
	left 0
	width 100%
	z-index 5000
	a
		color main-color
		padding 10px
		display inline-block
		width 100%
		position relative
		&:hover
			background main-color
			color white
			text-decoration none
			&:before
				content ''
				border-left: 8px solid white
		&:before
			content ''
			width: 0
			height: 0
			border-top: 4px solid transparent
			border-left: 6px solid main-color
			border-bottom: 4px solid transparent
			position absolute
			right 10px
			top 50%	
			margin-top -4px

.menu-cat-product-sub > .menu-cat-product-sub-el
	.menu-cat-product-sub-el
		+below(768px)
			position initial
			.second-lvl
				background #E6EBEE
			.three-lvl
				background #B1C8D6
		right -215px
		position absolute
		top 0px
		width 100%
.menu-cat-product-sub-el
	background #F9F9F9
	z-index 10000
	position relative
.easytree-icon
	display none!important

.easytree-title
	color main-color!important
	text-decoration underline!important
	font-size 14px
	line-height 16px
	margin-bottom 10px
	font-weight 400
.easytree-container
	+below(768px)
		width 100%
		margin-bottom 20px
		.easytree-title
			font-size 18px
			color white!important
			text-decoration none!important
		li
			background main-color!important
			padding 10px!important
	margin 0
	margin-bottom 40px
	ul
		.easytree-title
			color main-color!important
			text-decoration none!important
			color #898989!important

.easytree-title
	+below(960px)
		font-size 12px
.main-left
	+below(768px)
		col(1)
	col(0.22)
.main-right
	+below(768px)
		col(1)
		padding-left 0
	col(0.78)
	padding-left 15px
.main-right-slider
	+below(480px)
		margin-bottom 20px
	img
		width 100%
		
.main-adv
	+below(480px)
		display none
	margin 20px 0px
	width 100%
	margin-bottom 40px
	flex(around)
.main-adv-el
	flex(mid)
	flex-flow column
.main-adv-el-text
	margin-top 20px
	font-size 14px
	font-weight 700
	line-height 16px
	text-transform uppercase
	color main-color

.title
	font-size 18px
	font-weight 700
	line-height 16px
	text-transform uppercase
	padding-bottom 15px
	margin-bottom 15px
.title-border
	border-bottom 1px solid #DEDEDE
ul.easytree-container ul
	padding 0 !important
	
//.main-left-review
.main-left-review-el
	+below(768px)
		col(1/3)
		border-bottom 1px solid #DEDEDE!important
	margin-bottom 15px
	padding-bottom 15px
	border-bottom 1px solid #DEDEDE
	&:last-child
		border 0px
.main-left-review-el-top
	flex(mid)
	align-items flex-start
	margin-bottom 10px
.main-left-review-el-img
	width 30%
	margin-right 5px
//.main-left-review-el-info
.main-left-review-title
	color black
	font-family Arial
	font-size 12px
	font-weight 700
	line-height 16px
.main-left-review-name,
.main-left-review-date
	color #9d9d9d
	font-family Arial
	font-size 10px
	font-weight 700
	line-height 19px
.main-left-review-el-bot
	color #898989
	font-family Arial
	font-size 10px

.product-card-wraper
	margin-bottom 10px
	cf()
.product-card-el
	position relative
	col(1/3,cycle:3)
	+below(780px)
		col(1/2, uncycle: 3,cycle:2)
	//+below(380px)
		//col(1, uncycle: 2,cycle:1)
	margin-bottom 30px
.product-card-view
	padding 10px
	border 3px solid yellow
//.product-card-reiting
.product-card-img
	img
		+below(380px)
			width 80%
		display block
		margin 0 auto
		width 100%
.product-card-name
	font-size 16px
	font-weight 700
	line-height 16px
	text-align center
.product-card-review
	+below(480px)
		width 100%
		text-align center
		font-size 16px
		font-weight 400
	color #9d9d9d
	font-family Arial
	font-size 10px
	font-weight 700
	line-height 19px
	text-decoration underline
	margin 5px 0
	display inline-block
.product-card-but
	padding 10px
	flex(mid)
	flex-flow column
	background yellow
.product-card-price
	+below(768px)
		font-size 18px
	color black
	font-family Arial
	font-size 12px
	font-weight 700
	line-height 19px
.product-card-getText
	color black
	font-family Arial
	font-size 14px
	font-weight 700
	line-height 19px
	text-transform uppercase
	
.part-title
	color #364657
	font-family Arial
	font-size 18px
	font-weight 700
	line-height 16px
	text-transform uppercase
	margin-bottom 20px
.cabinet-tab
	.r-tabs-nav
		padding 10px
		flex(between)
		background #F8F8F8
		margin-bottom 20px
	li.r-tabs-state-active
		background #83C4DB
		a
			color white
	.r-tabs-tab
		padding 10px 0
		width 100%
	.r-tabs-nav
		a
			color #898989
			font-family Arial
			font-size 20px
			font-weight 400
			text-align center
			width 100%
			display inline-block
	+below(768px)
		ul.r-tabs-nav
			display none
//.cabinet-tab-el

//.cabinet-tab-el
//.cabinet-order
.cabinet-order-title
	color #364657
	font-family Arial
	font-size 18px
	font-weight 700
	line-height 16px
	text-transform uppercase
	margin 10px
	margin-bottom 20px
.cabinet-order-table
	width 100%
	margin-bottom 30px
	th
		+below(768px)
			font-size 10px
			padding 5px
		color #364657
		font-family Arial
		font-size 15px
		font-weight 400
		text-transform uppercase
		padding-bottom 10px
		padding 20px
		text-align left
	tbody
		tr
			margin-bottom 10px
			td
				+below(768px)
					font-size 10px
					padding 10px
				+below(480px)
					padding 5px
				padding 20px
				border-top 1px solid #eee
				color #898989
				font-family Arial
				font-size 15px
				font-weight 400
.cabinet-order-review
	background #E9E9E9
	padding 10px 20px
	padding-bottom 0
	label
		color #898989
		font-family Arial
		font-size 18px
		font-weight 400
.cabinet-order-review-title
	color #364657
	font-family Arial
	font-size 20px
	font-weight 400
	margin-bottom 20px
.cabinet-order-review-top
	flex(between)
	flex-wrap wrap
.cabinet-order-review-top-left
	+below(680px)
		width 100%
		margin-bottom 10px
		flex-wrap wrap
		
	display flex
	justify-content flex-start
	align-items center
	width 50%
	label 
		margin-right 10%
		margin-bottom 10px
.cabinet-order-review-top-right
	+below(680px)
		width 100%
		flex-wrap wrap
	display flex
	justify-content flex-start
	align-items center
	width 50%
	label
		+below(680px)
			margin-bottom 10px
			width 100%
		width 30%
		
	input 
		+below(680px)
			width 100%
		width 70%
		
		
//.cabinet-order-review-pagination
.block-pagination
	margin 15px 0px
	a
		color #b4b4b4
		font-size 12px
		padding 10px 5px
	flex(mid)
	position relative
.block-pagination-wrap
	flex(mid)
.active-pagination
	color white!important
	background #83C4DB
.block-pagination-all
	+below(680px)
		display none
	position absolute
	right 0
	top 0
.block-pagination-all-top
	color #b4b4b4
	font-family Arial
	font-size 12px
	font-weight 700
	line-height 16px
	padding-left 0!important
.block-pagination-all-val
	color #b4b4b4
	font-family Arial
	font-size 12px
	font-weight 700
	line-height 16px
//.cabinet-order-review-rating
.cabinet-order-review-number
	padding 5px
.cabinet-order-review-text
	flex(mid)
	margin-top 20px
	align-items flex-start
	flex-wrap wrap
	textarea
		+below(680px)
			width 100%
		width 85%
		padding 5px
	label
		+below(680px)
			width 100%
			margin-bottom 10px
		width 15%
.cabinet-order-review
	+below(680px)
		label
			font-size 12px
			width 100%
.r-tabs-accordion-title 
	+below(768px)
		border-bottom 2px solid white
	background #99C3D9
	padding 20px
	a
		color white
		text-align left
		font-size 24px

.star-rating
	.fa
		font-size 20px
		color #2A4457
.active-star
	color #E1C304!important

.cabinet-order-review-footer
	display flex
	justify-content flex-end
	
.button-block
	color white
	padding 5px 20px
	font-family Arial
	font-size 20px
	font-weight 400
	margin 10px 0
	background #83C4DB

.cabinet-tab-liked-left-soc
	+below(960px)
		flex(mid)
		flex-wrap wrap
	flex(between)
	.fa
		+below(768px)
			margin-right 3px
			
		color #A8D3E3
		margin-right 10px
		border 1px solid #A8D3E3
		border-radius 50%
		font-size 14px
		line-height 24px
		height 25px
		width 25px
		text-align center
		&:last-child
			margin-right 0
	a
		margin-right 5px
.cabinet-tab-liked-wrap
	//display flex
	cf();
.cabinet-tab-liked-left
	+below(680px)
		width 100%
		margin-bottom 20px
	flex(mid)
	flex-flow column
	col(0.25)
	border 1px solid #eee
	padding 15px
.cabinet-tab-liked-left-title
	color #9d9d9d
	font-family Arial
	font-size 15px
	font-weight 700
	text-transform uppercase
	text-align center
	margin-bottom 20px
.cabinet-tab-liked-left-info
	+below(680px)
		width 100%
		font-size 10px
	font-size 12px
	font-weight 700
	line-height 16px
	color #b4b4b4
	text-align center
	width 90%
	padding 10px
	border-top 1px solid #eee
	border-bottom 1px solid #eee
	.mark
		color lblue
	margin-bottom 10px

.cabinet-tab-liked-left-but
	text-align center
	margin 10px
	color #364657
	font-family Arial
	font-size 15px
	font-weight 700
	&:hover
		cursor pointer

.cabinet-tab-liked-right
	+below(680px)
		width 100%
	width 73%
	col(0.75)
	
.cabinet-tab-liked-right-title
	+below(680px)
		text-align center
	color #364657
	font-family Arial
	font-size 18px
	font-weight 700
	line-height 16px
	text-transform uppercase
	
.product-card-get
	flex(between)
	margin-bottom 10px
.product-card-get-left
	color #b4b4b4
	font-family Arial
	font-size 12px
	font-weight 700
	line-height 16px
	flex(mid)
	label 
		margin-left 10px
.product-card-get-right
	.fa
		color #BDBDBD
		&:hover
			cursor pointer

.cabinet-tab-el-basket
	cf()
.cabinet-tab-el-basket-left
	+below(768px)
		width 100%
		margin-bottom 20px
	flex(mid)
	flex-flow column
	col(0.25)
	border 1px solid #eee
	padding 25px 15px
	padding-bottom 0
.cabinet-tab-el-basket-left-title
	color #364657
	font-family Arial
	font-size 15px
	font-weight 700
	text-transform uppercase
	margin-bottom 20px
.cabinet-tab-el-basket-left-check
	+below(768px)
		width 100%
	border-top 1px solid #eee
	padding 10px 0px
.cabinet-tab-el-basket-left-check-el
	flex(between)
	align-items flex-start
	margin-bottom 10px
	label
		width 90%
		color #898989
		font-family Arial
		font-size 15px
		font-weight 400
.cabinet-tab-el-basket-left-itog
	border-top 1px solid #eee
	border-bottom 1px solid #eee
	width 100%
	padding 10px 0
.cabinet-tab-el-basket-left-itog-row
	flex(between)
.cabinet-tab-el-basket-left-itog-inf
	color #898989
	font-family Arial
	font-size 13px
	font-weight 400
	margin-bottom 5px
	&:nth-child(2)
		color lblue
		text-align right
.cabinet-tab-el-basket-footer
	color #898989
	font-family Arial
	font-size 15px
	font-weight 400
	text-transform uppercase
	margin 10px 0

.cabinet-tab-el-basket-right-title
	+below(768px)
		text-align center
		margin-bottom 20px
	color #364657
	font-family Arial
	font-size 18px
	font-weight 700
	line-height 16px
	text-transform uppercase

.cabinet-tab-el-basket-right
	+below(768px)
		width 100%
	col(0.75)
	
.cabinet-tab-el-basket
	width 100%
	th
		+below(768px)
			font-size 10px
			padding 10px 5px
		color #364657
		font-family Arial
		font-size 15px
		font-weight 400
		text-transform uppercase
		padding-bottom 10px
		padding 20px
		text-align left
		text-align center
	tbody
		tr
			margin-bottom 10px
			td
				+below(768px)
					font-size 10px
					padding 10px 5px
				padding 20px 10px
				text-align center
				border-top 1px solid #eee
				color #898989
				font-family Arial
				font-size 15px
				font-weight 400
				
.table-basket-row
	flex(between)
	.fa-times-circle
		&:hover
			cursor pointer
.table-basket-number
	flex(mid)
	input
		border 1px solid #eee
		text-align center
		width 30px
		height 30px

.minus,
.plus
	flex(mid)
	width 30px
	height 30px
	border 1px solid #eee
	&:hover
		cursor pointer

.minus
	border-radius 5px 0px 0px 5px
	border-right 0px

.plus
	border-radius 0px 5px 5px 0px
	border-left 0px
	
.cabinet-tab-basket-but
	flex(mid)
	margin-bottom 50px
.table-basket-img
	img
		width 50px
		margin-right 20px

.cabinet-private-title
	color #364657
	font-family Arial
	font-size 18px
	font-weight 400
	margin-bottom 20px
	font-weight 700
	text-transform uppercase
	text-align center
//.cabinet-private-form
.cabinet-private-form-row
	flex(mid)
	flex-wrap wrap
	margin-bottom 10px
.cabinet-private-form-label
	+below(680px)
		width 100%
		margin-bottom 10px
		text-align left
	width 30%
	text-align right
	padding-right 20px
	color #898989
	font-family Arial
	font-size 16px
	font-weight 400
.cabinet-private-form-row-input
	+below(680px)
		width 100%
		margin-bottom 10px
	width 70%
	input
		padding 5px
		border 1px solid #eee
		width 100%
		
.cabinet-private-form-row-phone
	.cabinet-private-form-row-input
		flex(mid)
	input
		&:first-child
			width 10%
			margin-right 2%
		&:nth-child(2)
			width 88%
			
.cabinet-private-form-row-time
	.cabinet-private-form-row-input
		flex(between)
	select
		border 1px solid #eee
		padding 5px
		width 40%
		
.cabinet-private-form-row-check
	margin-bottom 30px
	.cabinet-private-form-row-input
		display flex
		justify-content flex-start
		input
			width auto
			margin-right 20px
		span 
			width 95%
			color #98c3d9
			font-family Arial
			font-size 13px
			font-weight 400

.r-tabs .r-tabs-panel
	+below(680px)
		padding 20px 5px!important

.hiden
	display none
	
.about-tab
	.r-tabs-nav
		padding 10px
		flex(between)
		background #F8F8F8
		margin-bottom 20px
	li.r-tabs-state-active
		background #83C4DB
		a
			color white
	.r-tabs-tab
		padding 10px 0
		width 100%
	.r-tabs-nav
		a
			color #898989
			font-family Arial
			font-size 20px
			font-weight 400
			text-align center
			width 100%
			display inline-block
	+below(768px)
		ul.r-tabs-nav
			display none

.about-order-title
	color #364657
	font-family Arial
	font-size 18px
	font-weight 700
	line-height 16px
	text-transform uppercase
	margin 10px
	margin-bottom 20px
	
//.cabinet-tab-el
.about-info-wraper
	display flex
	flex-wrap wrap
.about-info-left
	+below(768px)
		width 100%
		flex-flow row
		flex(around)
	width 20%
	flex(mid)
	flex-flow column
	justify-content flex-start
.about-info-left-el
	margin-bottom 30px
	+below(480px)
		width 30%
		img
			width 70%
			margin 10px auto
	flex(mid)
	flex-flow column
.about-info-left-el-img
	margin-bottom 10px
.about-info-left-el-text
	+below(480px)
		font-size 10px
	color #364657
	font-family Arial
	font-size 14px
	font-weight 700
	line-height 16px
	text-transform uppercase
.about-info-right
	+below(768px)
		width 100%
	width 80%
//.about-order-title
.about-info-right
	p
		color #364657
		font-family Arial
		font-size 15px
		font-weight 400

.about-info-right-img
	+below(768px)
		width 100%
		flex(mid)
		img
			width 85%
	cf()
	float right
	margin-bottom 20px
	margin-left 20px
	
//.about-tab-delivery-wraper
//.about-order-title
.about-tab-delivery-inf
	display flex
	margin-bottom 30px
.about-tab-delivery-left
	+below(768px)
		width 100%
	width 55%
	li
		margin-bottom 15px
		color #364657
		font-family Arial
		font-size 15px
		font-weight 400
.about-tab-delivery-right
	+below(768px)
		display none
	margin-left 5%
	width 40%
	img
		width 100%
.about-tab-delivery-icon
	flex(between)
.about-tab-delivery-icon-el
	+below(768px)
		padding 5px
	+below(480px)
		height 40px
	height 60px
	width 100%
	padding 20px
	flex(mid)
	border 1px solid #eee
	margin-right 15px
	img
		+below(480px)
			width 80%
		width 50%

.about-tab-paiment-inf
	display flex
	margin-bottom 30px
.about-tab-paiment-left
	+below(768px)
		width 100%
	width 55%
	li
		margin-bottom 15px
		color #364657
		font-family Arial
		font-size 15px
		font-weight 400
.about-tab-paiment-right
	+below(768px)
		display none
	margin-left 5%
	width 40%
	img
		width 100%
.about-tab-paiment-icon
	flex(between)
.about-tab-paiment-icon-el
	+below(768px)
		padding 5px
		margin-right 5px
	+below(480px)
		height 40px
	height 60px
	width 100%
	padding 20px
	flex(mid)
	border 1px solid #eee
	margin-right 15px
	img
		+below(480px)
			width 80%
		width 80%
		
//.about-review-wraper
.about-review-el
	display flex
	margin-bottom 20px
.about-review-el-img
	+below(768px)
		width 20%
	width 10%
	margin-right 20px
.about-review-el-info
	+below(768px)
		width 80%
	width 90%
.about-review-el-info-name
	color #898989
	font-family Arial
	font-size 18px
	font-weight 400
	margin-bottom 10px
.about-review-el-info-text
	color #364657
	font-family Arial
	font-size 15px
	font-weight 400
	margin-bottom 10px
.about-review-el-info-bottom
	flex(between)
.about-review-el-info-answer
	color #9d9d9d
	font-family Arial
	font-size 13px
	font-weight 700
	text-decoration underline
.about-review-el-info-like
	color #9d9d9d
	&:hover
		cursor pointer
	
//.fa
//.fa-heart
.about-contact
	p
		color #364657
		font-family Arial
		font-weight 400
		font-size 15px
.about-contact-wraper
	display flex
	flex-wrap wrap
	margin-bottom 20px
	
//.about-order-title
.about-contact-left
	+below(768px)
		width 100%
	width 60%
.about-contact-right
	+below(768px)
		width 100%
		img
			width 100%
	width 40%
//.about-contact-bot

.about-contact
	.about-order-title
		margin-left 0
		
.menu-cat-want-text-wrap
	z-index 2000
	+below(1100px)
		width 100%
	+below(768px)
		top 52px
		right -2px
	position absolute
	padding 10px
	background white
	top 55px
	border 1px solid #eee
	right 0px
	flex(mid)
	border-bottom 4px solid yellow
	display none
.menu-cat-want-text-el
	+below(1100px)
		width 100%	
	display inline-block
	width 120px
	margin-right 5px
	&:last-child
		margin-right 0
	flex(mid)
	flex-flow column
.menu-cat-want-text-img
	&:hover
		border 1px solid yellow
	border 1px solid #eee
	img
		+below(1100px)
			width 100%
		width 120px
		margin-bottom 10px
.menu-cat-want-text-text
	color #364657
	font-family Arial
	font-size 14px
	font-weight 400
	
.menu-cat-want
	+above(1100px)
		&:hover
			.menu-cat-want-text-wrap
				flex(mid)

.cabinet-tab-liked-left-soc
	+below(960px)
		flex(mid)
		flex-wrap wrap
	flex(between)
	.fa
		+below(768px)
			margin-right 3px

.newsFull-content-bot-soc
		+below(960px)
			flex(mid)
			flex-wrap wrap
		flex(between)
		.fa
			+below(768px)
				margin-right 3px
				
			color #A8D3E3
			margin-right 10px
			border 1px solid #A8D3E3
			border-radius 50%
			font-size 14px
			line-height 24px
			height 25px
			width 25px
			text-align center
			&:last-child
				margin-right 0
		+below(960px)
			flex(mid)
			flex-wrap wrap
		flex(between)
		.fa
			+below(768px)
				margin-right 3px
				
//.newsFull-wrap
//.part-title
.newsFull-title
	+below(768px)
		margin-top 20px
	flex(between)
	flex-wrap wrap
	padding-bottom 10px
	margin-bottom 20px
	margin-top 40px
	border-bottom 1px solid #eee
.newsFull-title-left
	+below(680px)
		font-size 14px
		width 100%
		margin-bottom 10px
	color #364657
	font-family Arial
	font-size 18px
	font-weight 700
	line-height 16px
	text-transform uppercase
.newsFull-title-right
	color #9d9d9d
	font-family Arial
	font-size 13px
	font-weight 700
//.newsFull-content
.newsFull-content-part
	display flex
	flex-flow row wrap
	&:nth-child(3n-1)
		+below(768px)
			flex-flow row wrap
		flex-flow row-reverse
		.newsFull-content-part-text
			+below(768px)
				width 100%
				margin-right 0
			margin-right 5%
			margin-left 0
			.newsFull-content-part-img
				width 100%
	p
		margin 0
		margin-bottom 20px
		color #364657
		font-family Arial
		font-size 15px
		font-weight 400
.newsFull-content-part-text
	+below(768px)
		width 100%
		margin-left 0
	width 65%
	margin-left 5%
.newsFull-content-part-img
	+below(768px)
		width 100%
		margin-bottom 20px
	width 30%
	img
		width 100%	
.newsFull-content-bot
	display flex
	flex-flow column
	align-items flex-end
.newsFull-content-bot-title
	display flex
	align-items center
	justify-content flex-end
	margin-bottom 15px
	span 
		margin-right 15px
	
.newsFull-content-teg
	margin-right 15px
	padding 3px 10px
	color white
	background #83C4DB
	&:last-child
		margin-right 0
//.newsFull-content-bot-soc
.newsFull-comments
	margin-top 30px
	padding-top 30px
	border-top 1px solid #eee


.registration-private-title
	+below(768px)
		font-size 14px
	color #364657
	font-family Arial
	font-size 18px
	font-weight 400
	margin-bottom 20px
	font-weight 700
	text-transform uppercase
	text-align center
//.registration-private-form
.registration-private-form-row
	flex(mid)
	flex-wrap wrap
	margin-bottom 10px
.registration-private-form-label
	+below(680px)
		width 100%
		margin-bottom 10px
		text-align left
	width 30%
	text-align right
	padding-right 20px
	color #898989
	font-family Arial
	font-size 16px
	font-weight 400
.registration-private-form-row-input
	+below(680px)
		width 100%
		margin-bottom 10px
	width 70%
	input
		padding 5px
		border 1px solid #eee
		width 100%
		
.registration-private-form-row-phone
	.registration-private-form-row-input
		flex(mid)
	input
		&:first-child
			+below(768px)
				width 20%
			width 10%
			margin-right 2%
		&:nth-child(2)
			+below(768px)
				width 78%
			width 88%
			
.registration-private-form-row-time
	margin-bottom 30px
	.registration-private-form-row-input
		flex(between)
	select
		border 1px solid #eee
		padding 5px
		width 40%
		
.registration-private-form-row-check
	margin-bottom 20px
	.registration-private-form-row-input
		display flex
		justify-content flex-start
		input
			+below(768px)
				margin-right 10px
			width auto
			margin-right 20px
		span 
			//width 95%
			color #98c3d9
			font-family Arial
			font-size 13px
			font-weight 400

.registration-private-wraper
	padding 20px
	background #F8F8F8
	margin-bottom 30px
	
.registration-private-form-row-pol
	.registration-private-form-row-input
		display flex
		flex-wrap wrap
		input
			margin-right 20px
.registration-private-form-row-input-el
	flex(between)
	margin-right 20px
	label
		color #898989
		font-family Arial
		font-size 15px
		font-weight 400
	input 
		width 12px
		height 12px
		margin-right 10px

.getProduct-left
	+below(768px)
		width 100%
		margin-bottom 20px
	flex(mid)
	flex-flow column
	col(0.25)
	border 1px solid #eee
	padding 25px 15px
	padding-bottom 0
	.button-block
		font-size 12px
		width 100%
		text-align center
.getProduct-left-title
	color #364657
	font-family Arial
	font-size 15px
	font-weight 700
	text-transform uppercase
	margin-bottom 20px
.getProduct-left-check
	+below(768px)
		width 100%
	border-top 1px solid #eee
	padding 10px 0px
.getProduct-left-check-el
	flex(between)
	align-items flex-start
	margin-bottom 10px
	label
		width 90%
		color #898989
		font-family Arial
		font-size 15px
		font-weight 400
.getProduct-left-itog
	&:nth-child(2)
		border-bottom 0px!important
	&:nth-child(3)
		border-top 0px!important
	border-top 1px solid #eee
	border-bottom 1px solid #eee
	width 100%
	padding 10px 0
.getProduct-left-itog-row
	flex(between)
.getProduct-left-itog-inf
	color #898989
	font-family Arial
	font-size 13px
	font-weight 400
	margin-bottom 5px
	&:nth-child(2)
		color lblue
		text-align right
.getProduct-footer
	color #898989
	font-family Arial
	font-size 15px
	font-weight 400
	text-transform uppercase
	margin 10px 0

.getProduct-right-title
	+below(768px)
		text-align center
		margin-bottom 20px
	color #364657
	font-family Arial
	font-size 18px
	font-weight 700
	line-height 16px
	text-transform uppercase

.getProduct-right
	+below(768px)
		width 100%
		padding 20px 0px
	col(0.75)
	padding 20px
	background #F8F8F8
	margin-bottom 30px
	
.getProduct-back
	color #364657
	font-family Arial
	font-size 15px
	font-weight 400
	text-decoration underline
	margin-bottom 20px

.getProduct-but
	flex(mid)

.getProduct-title
	+below(768px)
		font-size 14px
	color #364657
	font-family Arial
	font-size 18px
	font-weight 400
	margin-bottom 20px
	font-weight 700
	text-transform uppercase
	text-align center
//.getProduct-form
.getProduct-form-row
	flex(mid)
	flex-wrap wrap
	margin-bottom 10px
.getProduct-form-label
	+below(680px)
		width 100%
		margin-bottom 10px
		text-align left
	width 30%
	text-align right
	padding-right 20px
	color #898989
	font-family Arial
	font-size 16px
	font-weight 400
.getProduct-form-row-input
	+below(680px)
		width 100%
		margin-bottom 10px
	width 70%
	input
		padding 5px
		border 1px solid #eee
		width 100%
		
.getProduct-form-row-phone
	.getProduct-form-row-input
		flex(mid)
	input
		&:first-child
			+below(768px)
				width 20%
			width 10%
			margin-right 2%
		&:nth-child(2)
			+below(768px)
				width 78%
			width 88%
			
.getProduct-form-row-time
	margin-bottom 30px
	.getProduct-form-row-input
		flex(between)
	select
		border 1px solid #eee
		padding 5px
		width 40%
		
.getProduct-form-row-check
	margin-bottom 20px
	.getProduct-form-row-input
		display flex
		justify-content flex-start
		input
			+below(768px)
				margin-right 10px
			width 5%
		span 
			width 95%
			color #98c3d9
			font-family Arial
			font-size 13px
			font-weight 400

.getProduct-wraper
	padding 20px
	background #F8F8F8
	
.getProduct-form-row-pol
	.getProduct-form-row-input
		display flex
		flex-wrap wrap
.getProduct-form-row-input-el
	flex(between)
	margin-right 20px
	label
		color #898989
		font-family Arial
		font-size 15px
		font-weight 400
	input 
		width 12px
		height 12px
		margin-right 10px
		
.getProduct-form-bonus
	margin-top 20px
	flex(mid)
	flex-flow column
	input
		width 80%
		padding 5px
		margin-top 10px
		border 1px solid #eee
		margin 10px auto
		display inline-block
.getProduct-form-bonus-title
	text-align center
	color #364657
	font-family Arial
	font-size 18px
	font-weight 400
	text-transform uppercase
	margin-bottom 10px
.getProduct-form-bonus-text
	color #898989
	font-family Arial
	font-size 14px
	font-weight 400
	text-align center
.getProduct-delivery
	margin-top 20px
.getProduct-delivery-title
	text-align center
	color #364657
	font-family Arial
	font-size 18px
	font-weight 400
	text-transform uppercase
	margin-bottom 10px
.getProduct-delivery-type
	flex(between)
	margin-bottom 10px
	input 
		margin-right 20px
.getProduct-delivery-type-text
	+below(680px)
		font-size 12px
		display flex
		input
			width 20px
			height 18px
	color #898989
	font-family Arial
	font-size 16px
	font-weight 400
.getProduct-delivery-type-val
	+below(680px)
		font-size 10px
		width 30%
		text-align right
	color #364657
	font-family Arial
	font-size 16px
	font-weight 700

.getProduct-delivery-type-shop
	margin-top 20px
	input
		+below(680px)
			margin-left 10px
		margin-left 30px
		
.getProduct-pay
	margin-top 30px
.getProduct-pay-title
	text-align center
	color #364657
	font-family Arial
	font-size 18px
	font-weight 400
	text-transform uppercase
	margin-bottom 15px
.getProduct-pay-type
	+below(680px)
		font-size 12px
	input 
		margin-right 20px
	color #898989
	font-family Arial
	font-size 16px
	font-weight 400
	margin-bottom 15px
//.getProduct-pay-icon

.getProduct-pay-icon
	flex(between)
	margin 20px 0px
.getProduct-icon-el
	&:last-child
		margin-right 0
	+below(768px)
		padding 5px
		margin-right 5px
	+below(480px)
		height 35px
	background white
	height 60px
	width 100%
	padding 0px 10px
	flex(mid)
	border 1px solid #eee
	margin-right 15px
	img
		+below(480px)
			width 80%
		width 100%

#getProduct
	width 100%
	border 1px solid #eee
	margin-bottom 20px
	
//.news-wrap
.news-wrap-el
	display flex
	padding 10px 0
	border-top 1px solid #eee
	margin-bottom 20px
	flex-wrap wrap
.news-el-img
	+below(640px)
		width 100%
		padding 10px 0
	padding 10px
	width 30%
	padding-top 0
.news-el-info
	+below(680px)
		width 100%
	width 70%
.news-el-info-title
	color black
	font-family Arial
	font-size 18px
	font-weight 400
	margin-bottom 10px
.news-el-info-text
	color #364657
	font-family Arial
	font-size 14px
	font-weight 400
	margin-bottom 10px
.news-el-info-bottom
	flex(between)
	flex-wrap wrap
	align-items flex-start!important
	margin-top 10px
.news-el-info-bottom-comments
	+below(680px)
		width 100%
	color #9d9d9d
	font-family Arial
	font-size 13px
	font-weight 700
	text-decoration underline
.news-el-info-bottom-more
	+below(680px)
		width 100%
		margin 5px 0px
		a
			text-align left!important
	a
		color #9d9d9d
		font-family Arial
		font-size 13px
		font-weight 700
		text-decoration underline
		text-align right
		margin-bottom 5px
	display flex
	flex-flow column
.news-el-teg
	display flex
	align-items center
	.bold
		color #9d9d9d
		font-family Arial
		font-size 13px
		font-weight 700
		margin-right 20px
.news-el-teg-el
	color white
	padding 3px 10px
	background-color #98c3d9
	margin-left 5px
	font-family Arial
	font-size 13px
	font-weight 700
	
.main-left-menu-news
	.easytree-title
		width 80%
	+below(768px)
		.easytree-container ul .easytree-title
			color white!important


.cabinet-tab-liked-left-soc
	+below(960px)
		flex(mid)
		flex-wrap wrap
	flex(between)
	.fa
		+below(768px)
			margin-right 3px
		color #A8D3E3
		margin-right 10px
		border 1px solid #A8D3E3
		border-radius 50%
		font-size 14px
		line-height 24px
		height 25px
		width 25px
		text-align center
		&:last-child
			margin-right 0

.product-wraper
	+below(768px)
		height auto
	display flex
	flex-wrap wrap
	height 350px
.product-left
	width 50%
	height 100%
//.product-left-img
.product-left-img-small
	width 30%
	display flex
	flex-wrap wrap
	height 50%
.product-left-img-small-el
	height 100%
	border 1px solid #eee
	width 100%
	flex(mid)
	img
		width 80%
.product-left-img-big
	flex(mid)
	border 1px solid #eee
	img
		height 100%
	width 68%
	margin-left 2%
//.product-left-img-el
.product-right
	+below(768px)
		width 100%
		padding-left 0
	width 50%
	padding-left 20px
.product-right-title
	flex(between)
	padding-bottom 10px
	border-bottom 1px solid #eee
	margin-bottom 20px
.product-right-title-text
	+below(768px)
		font-size 12px
	color black
	font-family Arial
	font-size 16px
	font-weight 700
	line-height 16px
//.product-right-title-rating
.product-right-price
	display flex
	margin-bottom 30px
.product-right-price-info
	display flex
	flex-flow column
	width 50%
.product-right-price-row
	flex(between)
	margin-bottom 20px
.product-right-price-row-text
	color #b4b4b4
	font-family Arial
	font-size 12px
	font-weight 700
	line-height 16px
.product-right-price-row-val
	+below(768px)
		font-size 16px
	color black
	font-family Arial
	font-size 20px
	font-weight 700
	line-height 19px
.product-right-price-isset
	width 50%
	display flex
	flex-flow column
	align-items flex-end
.product-right-price-isset-text
	+below(768px)
		font-size 10px
	color #b4b4b4
	font-family Arial
	font-size 12px
	font-weight 700
	line-height 16px
	text-transform uppercase
.product-right-price-isset-val
	display flex
.product-right-howmuch
	width 20px
	height 20px
	background main-color
	margin 5px 0
	margin-right 3px
.product-right-price-isset-number
	color #b4b4b4
	font-family Arial
	font-size 12px
	font-weight 700
	line-height 16px
.product-right-howmuch-true
	background yellow
	border-top 2px solid main-color
.product-right-count
	display flex
.product-right-count-left
	+below(768px)
		width 50%
		margin-right 5px
	width 40%
	margin-right 10%
	padding 10px
	flex(mid)
	flex-flow column
	border 1px solid #eee
.product-right-count-left-title
	color #898989
	font-family Arial
	font-size 13px
	font-weight 400
.product-right-count-left-text
	+below(768px)
		font-size 10px
	font-family Arial
	font-size 13px
	font-weight 400
	color #898989
	.mark
		color #98c3d9
.product-right-count-right
	flex(mid)
	flex-flow column
	width 50%
.product-right-count-right-basket
	text-align center
	width 100%
	color black
	font-family Arial
	font-size 14px
	font-weight 700
	line-height 19px
	text-transform uppercase
	background yellow
	margin-bottom 5px
	padding 15px 0
.product-right-count-right-baynow
	padding 15px 0
	text-align center
	width 100%
	color white
	font-family Arial
	font-size 14px
	font-weight 700
	line-height 19px
	text-transform uppercase
	background main-color
.product-right-soc
	flex(between)
	margin-top 40px
//.cabinet-tab-liked-left-soc
.product-right-soc-liked
	i
		margin-right 10px
		color main-color
	a
		color #b4b4b4
		font-family Arial
		font-size 12px
		font-weight 700
		line-height 16px
		text-decoration underline
//.fa-star

.product-right-number
	flex(mid)
	margin 10px 0px
	input
		border 1px solid #eee
		text-align center
		width 30px
		height 30px

.product-right-count-righ-sayme
	color #98c3d9
	font-family Arial
	font-size 12px
	font-weight 700
	line-height 16px
	text-decoration underline
	text-align center
	width 50%
	text-transform uppercase
	
.product-tab
	margin-top 30px
	.r-tabs-nav
		padding 10px
		flex(between)
		background #F8F8F8
		//margin-bottom 20px
	li.r-tabs-state-active
		background #83C4DB
		a
			color white
	.r-tabs-tab
		padding 10px 0
		width 100%
	.r-tabs-nav
		a
			color #898989
			font-family Arial
			font-size 20px
			font-weight 400
			text-align center
			width 100%
			display inline-block
	+below(768px)
		ul.r-tabs-nav
			display none
.product-order-title
	color #364657
	font-family Arial
	font-size 18px
	font-weight 700
	line-height 16px
	text-transform uppercase
	margin 10px
	margin-bottom 20px
	
.product-tab
		border 1px solid #eee!important
.product-dicr-title
	padding-bottom 20px
	border-bottom 1px solid #eee
	color #364657
	font-family Arial
	font-size 18px
	font-weight 700
	line-height 16px
	margin-bottom 20px
.product-dicr-wraper
	display flex
	flex-wrap wrap
	
.product-dicr-info
	+below(768px)
		width 100%
	display flex
	align-items center
	flex-flow column
	width 40%
.product-dicr-info-row
	+below(768px)
		width 100%
	flex(between)
	width 60%
	margin-bottom 10px
.product-dicr-info-name
	color #364657
	font-family Arial
	font-size 20px
	font-weight 400
.product-dicr-info-val
	color #898989
	font-family Arial
	font-size 18px
	font-weight 400
.product-dicr-text
	+below(768px)
		width 100%
	width 60%
	p
		color #364657
		font-family Arial
		font-size 15px
		font-weight 400
		margin 0
		margin-bottom 10px
		
.product-review-el
	display flex
	margin-bottom 20px
.product-review-el-img
	+below(768px)
		width 20%
	width 10%
	margin-right 20px
.product-review-el-info
	+below(768px)
		width 80%
	width 90%
.product-review-el-info-name
	color #898989
	font-family Arial
	font-size 18px
	font-weight 400
	margin-bottom 10px
.product-review-el-info-text
	color #364657
	font-family Arial
	font-size 15px
	font-weight 400
	margin-bottom 10px
.product-review-el-info-bottom
	flex(between)
.product-review-el-info-answer
	color #9d9d9d
	font-family Arial
	font-size 13px
	font-weight 700
	text-decoration underline
.product-review-el-info-like
	color #9d9d9d
	&:hover
		cursor pointer
		
.analog-card-wraper
	margin-bottom 10px
	cf()
.analog-card-el
	position relative
	col(1/4,cycle:4)
	+below(780px)
		col(1/2, uncycle: 3,cycle:2)
	//+below(380px)
		//col(1, uncycle: 2,cycle:1)
	margin-bottom 30px
.analog-card-view
	padding 10px
	border 3px solid yellow
//.analog-card-reiting
.analog-card-img
	img
		+below(380px)
			width 80%
		display block
		margin 0 auto
		width 100%
.analog-card-name
	font-size 16px
	font-weight 700
	line-height 16px
	text-align center
.analog-card-review
	+below(480px)
		width 100%
		text-align center
		font-size 16px
		font-weight 400
	color #9d9d9d
	font-family Arial
	font-size 10px
	font-weight 700
	line-height 19px
	text-decoration underline
	margin 5px 0
	display inline-block
.analog-card-but
	padding 10px
	flex(mid)
	flex-flow column
	background yellow
.analog-card-price
	+below(768px)
		font-size 14px
	color black
	font-family Arial
	font-size 12px
	font-weight 700
	line-height 19px
.analog-card-getText
	color black
	font-family Arial
	font-size 14px
	font-weight 700
	line-height 19px
	text-transform uppercase
.analog-card-view
	+below(680px)
		.fa-star
			font-size 14px!important
		.analog-card-name
			font-size 12px
		
	position relative
.analog-card-view-sale
	img
		+below(768px)
			z-index 200
	position absolute
	top -10px
	right -5px
.product-left-slide
	width 50%
	position relative
	img
		width 50%
		height 100%!important
	.owl-prev,
	.owl-next
		+below(640px)
			margin-top -40px
		position absolute
		top 50%
		margin-top -60px
	.owl-prev
		left -20%
	.owl-next
		right -20%
	.fa
		font-size 68px
		color main-color
.product-left
	+below(768px)
		width 100%
	flex(mid)
	
.product-recomend-wrap
	margin 40px 0
	
.header-basket-top-register
	flex-wrap wrap
	.header-basket-reg
		text-decoration none
	.header-basket-reg
		margin-right 0
		width 100%
		text-align center
		margin-bottom 5px
		&:after
			content ''
			
.footer-page
	flex(around)
	flex-wrap wrap
	a
		color grey
		padding 20px 0
		

.breadcrumbs-block
	display flex
	margin-bottom 15px
	flex-wrap wrap
.breadcrumbs-block-el
	font-family Arial
	font-size 14px
	font-weight 400
	line-height 20px
	color #898989
	margin-right 16px
	text-decoration underline
	position relative
	&:after
		content '>'
		position absolute
		right -12px
	&:last-child
		text-decoration none
		color #98c3d9
		&:after
			content ''

//.catalog-block
	
.catalog-block-el
	col(1/3,cycle:3)
	+below(768px)
		col(1/2,cycle:2,uncycle:3)
		padding 10px
	border 1px solid yellow
	margin-bottom 20px
	padding 20px
	flex(mid)
	flex-flow column
	max-height 180px
//.catalog-block-el-img

.catalog-block-el-text
	flex(mid)
	margin-top 20px
.catalog-block-el-title
	+below(768px)
		font-size 12px
	margin-right 20px
	color black
	font-family Arial
	font-size 16px
	font-weight 700
	line-height 16px
	text-align center
.catalog-block-el-number
	+below(768px)
		font-size 14px
	color #f6dd34
	font-family Arial
	font-size 16px
	font-weight 400
	line-height 16px
	padding 5px 
	background-color #98c3d9
	position relative
	width 30px !important
	&:before
		content ''
		position absolute
		left -13px
		top 0px
		triangle:"left" 13px #98c3d9
		
.main-left-sort
	padding 10px
	border 1px solid #eee
	margin-bottom 10px	
.main-left-sort-title
	+below(768px)
		.fa
			display inline-block!important
			margin-left 30px
		&:hover
			cursor pointer
	.fa
		display none
	color #898989
	font-family Arial
	font-size 15px
	font-weight 400
	text-align center
.main-left-sort-el
	+below(640px)
		width 50%
	margin-bottom 20px
	label
		color #898989
		font-family Arial
		font-size 13px
		font-weight 400
		margin-right 5px
.main-left-sort-el-title
	color #364657
	font-family Arial
	font-size 15px
	font-weight 400
	margin-bottom 5px
.main-left-sort-input
	margin-bottom 5px
	
.srotby-block
	+below(768px)
		flex(mid)
	background-color #f8f8f8
	padding 10px
	flex(between)
	flex-wrap wrap
.srotby-block-left
	color #898989
	font-family Arial
	font-size 15px
	font-weight 400
.srotby-block-type
	+below(768px)
		flex(mid)
		flex-wrap wrap
		margin 10px 0px
	flex(between)
.srotby-block-type-el
	//+below(768px)
		//margin-bottom 10px	
	color #898989
	font-family Arial
	font-size 10px
	font-weight 400
	text-transform uppercase
	margin-right 20px
	padding 5px
.srotby-block-type-active
	color white
	background-color #98c3d9
.srotby-block-left-icon
	flex(mid)
	visibility hidden
.srotby-block-left-icon-el
	margin-right 10px
	padding 5px 3px
.srotby-block-left-icon-active
	border 1px solid #98c3d9
	background white
.main-left-sort-wraper
	margin-top 20px	
	+below(768px)
		flex(between)
		flex-wrap wrap
.main-left-sort-block
	display none
	+above(768px)
		display block!important
	
.modal-registration
	border-radius 5px
	hr
		border 0px
		border-bottom 1px solid #eee
		margin-bottom 20px
.modal-wraper
	+below(960px)
		width 80%
	display none
	width 30%
	background white
	padding 20px
	position relative
.modal-close
	position absolute
	top -10px
	right -5px
	font-size 30px
	color grey
	&:hover
		cursor pointer
		
//.modal-close
//.fa-times-circle
//.modal-registration-wraper
.modal-registration-title
	+below(680px)
		flex-wrap wrap
	display flex
	margin-bottom 20px
	a
		+below(680px)
			width 100%
			text-align center
			margin-top 10px
		color #98c3d9
		font-family Arial
		font-size 15px
		font-weight 400
		text-decoration underline
.modal-registration-title-text
	+below(680px)
		margin-left 0
	color #364657
	font-family Arial
	font-size 20px
	font-weight 400
	text-transform uppercase
	width 100%
	text-align center
	margin-left 15%
.modal-registration-input
	flex(between)
	margin-bottom 20px
	flex-wrap wrap
	input
		+below(680px)
			width 100%
		padding 5px 10px
		border 1px solid #eee
		width 48%
.modal-registration-remember
	flex(mid)
	label
		margin-left 10px
		color #b4b4b4
		font-family Arial
		font-size 12px
		font-weight 700
		line-height 16px
		text-align center
.modal-registration-but
	flex(mid)
	button
		border 0px
		color white
		padding 5px 20px
		background-color #98c3d9
		margin 10px 0
.modal-registration-but-text
	color #b4b4b4
	font-family Arial
	font-size 12px
	font-weight 700
	line-height 16px
	text-align center
	margin-bottom 20px
	a
		color #b4b4b4
		font-family Arial
		font-size 12px
		font-weight 700
		line-height 16px
		text-decoration underline
.modal-registration-soc
	flex(around)
	flex-wrap wrap
.modal-registration-soc-text
	+below(680px)
		text-align center
		margin-bottom 10px
	color #898989
	font-family Arial
	font-size 18px
	font-weight 400
.modal-registration-soc-el
	+below(960px)
		flex(mid)
		flex-wrap wrap
	flex(between)
	.fa
		+below(768px)
			margin-right 3px
		color #A8D3E3
		margin-right 10px
		border 1px solid #A8D3E3
		border-radius 50%
		font-size 14px
		line-height 24px
		height 25px
		width 25px
		text-align center
		&:last-child
			margin-right 0
	a
		margin-right 5px
.search-news-el
	margin-bottom 20px
.search-news-el-title
	color #364657
	font-family Arial
	font-size 18px
	font-weight 700
	line-height 16px
	padding-bottom 10px
	margin-bottom 10px
	border-bottom 1px solid #eee
.search-news-el-text
	color #364657
	font-family Arial
	font-size 15px
	font-weight 400

.modal-product
	+below(1280px)
		width 60%
	+below(768px)
		.owl-next,
		.owl-prev
			text-align center
		.modal-product-nav-el
			font-size 8px
	display none
	width 40%
	.owl-nav
		flex-wrap wrap
	
	.owl-nav
		flex(between)
.modal-wraper.modal-product
	top 4%!important
.modal-card-wraper
	margin-bottom 10px
	cf()
.modal-card-el
	position relative
	+below(480px)
		width 100%
	margin-bottom 10px
.modal-card-view
	padding 10px
	border 3px solid yellow
	position relative
//.modal-card-reiting
.modal-card-img
	img
		+below(680px)
			width 60%!important
		display block
		margin 0 auto
		width 100%
.modal-card-name
	+below(768px)
		font-size 12px
	font-size 16px
	font-weight 700
	line-height 16px
	text-align center
.modal-card-review
	+below(480px)
		width 100%
		text-align center
		font-size 12px
		font-weight 400
	color #9d9d9d
	font-family Arial
	font-size 10px
	font-weight 700
	line-height 19px
	text-decoration underline
	margin 5px 0
	display inline-block
.modal-card-but
	padding 10px
	flex(mid)
	flex-flow column
	background yellow
.modal-card-price
	+below(768px)
		font-size 14px
	color black
	font-family Arial
	font-size 12px
	font-weight 700
	line-height 19px
.modal-card-getText
	color black
	font-family Arial
	font-size 14px
	font-weight 700
	line-height 19px
	text-transform uppercase

.modal-card-bottom
	flex(between)
	flex-wrap wrap
	label
		color #b4b4b4
		font-family Arial
		font-size 12px
		font-weight 700
		line-height 16px
		margin-left 5px
.modal-card-check
	flex(mid)
	flex-wrap wrap
	
.modal-card-view-close
	position absolute
	top 10px
	right 10px
	.fa
		color grey
		
.modal-product-title
	+below(680px)
		font-size 14px
	color #364657
	font-family Arial
	font-size 20px
	font-weight 400
	text-transform uppercase
	text-align center
	margin-bottom 20px
	
.modal-product-nav
	flex(between)
.modal-product-nav-el
	color #9d9d9d
	font-family Arial
	font-size 15px
	font-weight 700
	line-height 19px
	text-decoration underline
	
.card-percent
	&:before
		content ''
		position absolute
		top -8px
		right -5px
		width 42px
		height 42px
		bgi('icon-sale.png')
		z-index 1000
		background-size cover
.card-coil
	&:before
		content ''
		position absolute
		top -8px
		right -5px
		width 42px
		height 42px
		bgi('icon-coil.png')
		z-index 1000
		background-size cover
		
.card-commend
	&:before
		content ''
		position absolute
		top -8px
		right -5px
		width 42px
		height 42px
		bgi('icon-commend.png')
		z-index 1000
		background-size cover
		
.card-hit
	&:before
		content ''
		position absolute
		top -8px
		right -5px
		width 42px
		height 42px
		bgi('icon-hit.png')
		z-index 1000
		background-size cover
		
.card-lider
	&:before
		content ''
		position absolute
		top -8px
		right -5px
		width 42px
		height 42px
		bgi('icon-hit.png')
		z-index 1000
		background-size cover

.write-review
	+below(768px)
		//display none!important
		bottom: 30%;
		width 40px
	position fixed
	right 0
	bottom: 18%;
	z-index: 10000;
	&:hover
		cursor pointer
		
.write-review-arrow
	+below(768px)
		//display none!important
		width 35px
		bottom: 10%!important;
		right 3px !important
	position fixed
	right 0!important
	bottom: 6%!important;
	z-index: 10000;
	display none
	&:hover
		cursor pointer

.call-back-textarea
	align-items flex-start
	textarea
		width 100%
.call-back-text
	text-align center
	padding-right 20px
	color #898989
	font-family Arial
	font-size 16px
	font-weight 400
	text-transform uppercase
	margin-bottom 20px
	
.basket-commend
	+below(1280px)
		width 60%
	display none
	width 40%
	.owl-nav
		flex(between)
.modal-wraper.basket-commend
	top 10%!important
	
.basket-commend
	+below(768px)
		width 90%
	.product-card-but
		margin-top 10px
		
.basket-commend-top
	flex(between)
	margin-bottom 30px
	flex-wrap wrap
.basket-commend-top-prod
	+below(768px)
		width 100%
		margin-bottom 20px
	display flex
	width 48%
	margin-right 2%
.basket-commend-top-img
	width 80px
	margin-right 20px
//.basket-commend-top-info
.basket-commend-top-name
	color #898989
	font-family Arial
	font-size 15px
	font-weight 400
	margin-bottom 10px
.basket-commend-top-price
	color #898989
	font-family Arial
	font-size 15px
	font-weight 400
.basket-commend-top-but
	+below(768px)
		width 100%
	flex(mid)
	flex-flow column
	width 50%
.basket-commend-top-get
	color white
	font-family Arial
	font-size 20px
	font-weight 400
	background-color #98c3d9
	width 100%
	padding 10px
	text-align center
	margin-bottom 10px
.basket-commend-top-back
	color white
	font-family Arial
	font-size 20px
	background-color #b4b4b4
	width 100%
	font-weight 400
	padding 10px
	text-align center
.basket-commend-text
	color #364657
	font-family Arial
	font-size 20px
	font-weight 400
	margin-bottom 20px
	text-align center

.modal-wraper.basket-commend
	top 2% !important
	
.basket-commend-card-top-incr
	width 100%
	flex(mid)
	margin 10px 0px
	input
		border 1px solid #eee
		text-align center
		width 30px
		height 30px

.basket-commend-card-top-text
	width 100%

//Only for ie
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
	.menu-cat-want-text-wrap
		width 220px
	.menu-cat-want-text-img 
		img
			width 80%
			margin 0 auto
	.menu-cat-want-text-el
		display block
		width 200px
	.menu-cat-want-text-text
		text-align center
	.menu-cat-want
		&:hover
			.menu-cat-want-text-wrap
				display block
	.header-nav-el
		display block
		text-align center
	.header-basket-top-register .header-basket-reg
		display block
	.product-right-count-right-basket,
	.product-right-count-right-baynow
		display block
	.footer-head-el
		a
			display block
	.product-tab 
		.r-tabs-nav
			display block
		li.r-tabs-tab 
			width 20%
	.about-tab 
		.r-tabs-nav
			display block
		li.r-tabs-tab 
			width 18%
	.cabinet-tab 
		.r-tabs-nav
			display block
		li.r-tabs-tab 
			width 22%
	.about-tab-delivery-icon-el img
		width auto
	.about-tab-delivery-icon-el
		width auto
	.about-tab-paiment-icon-el img
		width auto
	.about-tab-paiment-icon-el
		width auto
	.button-block
		display block
	.cabinet-order-review
		label
			margin-right 10px
	.cabinet-order-review-text
		flex(between)
		align-items flex-start
	.cabinet-tab-liked-left
		display block
	.cabinet-tab-el-basket-left-check-el label
		display block
	.cabinet-tab-el-basket-left-check
		width 100%
	input[type="checkbox"]
		border 0px
	.cabinet-private-form-row-input
		span
			display block
	.getProduct-icon-el img
		width 60px
	.getProduct-icon-el
		width auto
	.breadcrumbs-block-el
		text-decoration none!important
	.news-el-info-bottom-more
		a
			display block
	.registration-private-form-row-input
		span
			display block
	.registration-private-wraper
		input[type="checkbox"]
			width 24px
			height 24px
	.block-pagination-all
		top -10px
	.catalog-block-el-title
		font-size 12px
	.catalog-block-el-text
		margin-top 5px
	.modal-registration-title
		display block
	.modal-registration-title-text
		margin-left 0
	.modal-registration-title a
		display block
		text-align center

.footer-contact-info-pay-el
	img
		+below(768px)
			width 70%
			margin 0 auto
		width 100% 