<!DOCTYPE html>
html(lang="en")
	//Include header
	include ./block_html/head.jade
	include ./block_html/const.jade
body
		
	//Include Header
	include ./block_html/header.jade
	//Content
	.main-cont
		.content 
			form(action="")
				.registration-wrap
				.registration-private-wraper
					.registration-private-title Обратная связь
					.call-back-text Укажите ваши контактые данные и свой вопрос
					.registration-private-form
						mixin formRow(name)
							.registration-private-form-row
								.registration-private-form-label #{name}
								.registration-private-form-row-input
									input(type="text")

						+formRow(' Адрес e-mail ')
						+formRow(' Фамилия ')
						+formRow(' Имя ')
						
						.registration-private-form-row.registration-private-form-row-phone
							.registration-private-form-label Мобильный телефон
							.registration-private-form-row-input
								input(type="text")
								input(type="text")

						.registration-private-form-row.call-back-textarea
							.registration-private-form-label Адрес доставки
							.registration-private-form-row-input
								textarea(name="",  rows="10")

					.cabinet-tab-basket-but
						a(href="#").button-block Отправить сообщение

	//Include footer
	include ./block_html/footer.jade

	//Include scripts
	include ./block_html/script.jade