<!DOCTYPE html>
html(lang="en")
	//Include header
	include ./block_html/head.jade
	include ./block_html/const.jade
body
	
	//Include Header
	include ./block_html/header.jade
	
	//Content
	.main-cont
		.content
			//Left-content
			.main-left
				//Left-menu
				include ./block_html/left-menu.jade
				
				//Review
				.main-left-review-wrap
					.title.title-border Отзывы 
					.main-left-review
						- for (var c = 0; c < 3; c++)
							.main-left-review-el
								.main-left-review-el-top
									.main-left-review-el-img
										img(src="img/product-1.jpg", alt="")
									.main-left-review-el-info
										.main-left-review-title Наименование товара
										.main-left-review-name Сергей Попов
										.main-left-review-date 02.12.2014
								.main-left-review-el-bot  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus dolore ducimus totam quibusdam ad eligendi voluptates quod aliquid quaerat. Incidunt!ASDASD

			//Right-content
			.main-right
				.main-right-slider.owl-carousel
					img(src="img/slider-1.png", alt="")
					img(src="img/slider-1.png", alt="") 
					img(src="img/slider-1.png", alt="") 
				
				.main-adv
					.main-adv-el
						.main-adv-el-img
							img(src="img/icon-service.jpg", alt="")
						.main-adv-el-text Сервис
					.main-adv-el
						.main-adv-el-img
							img(src="img/icon-quality.jpg", alt="")
						.main-adv-el-text Качетсво
					.main-adv-el
						.main-adv-el-img
							img(src="img/icon-lowpay.jpg", alt="")
						.main-adv-el-text Низкие цены
				
				.title.title-border Наши лучшие товары
				
				.product-card-wraper
					- for (var d = 0; d < 6; d++)
						.product-card-el
							.product-card-view
								.product-card-reiting
									i.fa.fa-star
								.product-card-img
									img(src="img/product-1.jpg", alt="")
								.product-card-name Кальян Ager 1251rg 74 см
							a(href="#").product-card-review отзывы(12)
							a(href="#").product-card-but
								.product-card-price 3525 руб.
								.product-card-getText в корзину

				.title.title-border Рекомендуемые товары
				
				.product-card-wraper
					- for (var d = 0; d < 6; d++)
						.product-card-el
							.product-card-view
								.product-card-reiting
									i.fa.fa-star
								.product-card-img
									img(src="img/product-1.jpg", alt="")
								.product-card-name Кальян Ager 1251rg 74 см
							a(href="#").product-card-review отзывы(12)
							a(href="#").product-card-but
								.product-card-price 3525 руб.
								.product-card-getText в корзину

				.title.title-border Интернет магазин KALIF24.RU
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ex velit, repellendus iure tenetur voluptate. Aperiam nostrum qui commodi omnis, ipsa laboriosam delectus atque aliquam necessitatibus, ullam cupiditate maiores quos dolore voluptatum. Animi quos, ducimus, reprehenderit a vel distinctio inventore?

				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ex velit, repellendus iure tenetur voluptate. Aperiam nostrum qui commodi omnis, ipsa laboriosam delectus atque aliquam necessitatibus, ullam cupiditate maiores quos dolore voluptatum. Animi quos, ducimus, reprehenderit a vel distinctio inventore?
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis at voluptas eum, eligendi unde ad commodi nostrum soluta, sint tenetur earum perferendis quam eos quibusdam? Delectus ab nam molestias doloremque!20

	//Include footer
	include ./block_html/footer.jade

	//Include scripts
	include ./block_html/script.jade