<!DOCTYPE html>
html(lang="en")
	//Include header
	include ./block_html/head.jade
	include ./block_html/const.jade
body
	
	//Include Header
	include ./block_html/header.jade
	
	//Content
	.main-cont
		.content
			include ./block_html/breadcrumbs.jade
			//Left-content
			.main-left
				.part-title Акции и скидки
				//Left-menu
				include ./block_html/left-menu.jade

				.main-left-sort
					.main-left-sort-title Сортировать список
						.fa.fa-caret-down
					.main-left-sort-block
						.main-left-sort-wraper
							- for (var a = 0; a < 4; a++)
								.main-left-sort-el
									.main-left-sort-el-title Бренды
									- for (var b = 0; b < 4; b++)
										.main-left-sort-input
											input(type="checkbox")
											label Название

			//Right-content
			.main-right
				.srotby-block
					.srotby-block-left Cортировать по:
					.srotby-block-type
						a(href="#").srotby-block-type-el цене
						a(href="#").srotby-block-type-el.srotby-block-type-active оценкам
						a(href="#").srotby-block-type-el цене и оценкам
						a(href="#").srotby-block-type-el новинкам
						a(href="#").srotby-block-type-el алфавиту
					.srotby-block-left-icon
						.srotby-block-left-icon-el
							a(href="#")
								img(src="img/sort-block.png", alt="")
						.srotby-block-left-icon-el.srotby-block-left-icon-active
							a(href="#")
								img(src="img/sort-row.png", alt="")
				.product-pagination
					include ./block_html/pagination.jade 
				.product-card-wraper
					- for (var d = 0; d < 6; d++)
						.product-card-el
							.product-card-view
								.product-card-reiting
									i.fa.fa-star
								.product-card-img
									img(src="img/product-1.jpg", alt="")
								.product-card-name Кальян Ager 1251rg 74 см
							a(href="#").product-card-review отзывы(12)
							a(href="#").product-card-but
								.product-card-price 3525 руб.
								.product-card-getText в корзину
				.product-pagination
					include ./block_html/pagination.jade
	

			

	//Include footer
	include ./block_html/footer.jade

	//Include scripts
	include ./block_html/script.jade