//Top-menu
.top-menu
	.main-cont
		.top-menu-wrap 
			a(href="#") О нас
			a(href="#") Доставка
			a(href="#") Оплата
			a(href="#") Новости
			a(href="#") Контакты
//Header
.header
	.main-cont
		.header-wraper
			a(href="/").header-logo.header-wraper-el
				img(src="img/main-logo.png", alt="")
			.header-contact.header-wraper-el
				.header-contact-phone 8 900 555 22 33
				.header-contact-email Kalif@yandex.ru
			.header-nav.header-wraper-el
				a(href="#").header-nav-el Мои закладки
				a(href="#").header-nav-el#viewed-product Просмотреть товары
				a(href="#").header-nav-el Обратная связь
			.header-basket.header-wraper-el
				.header-basket-wrap
					// remove class .header-basket-top-register for unregister template
					.header-basket-top.header-basket-top-register
						a(href="#").header-basket-reg Здравствуйте, Игорь Сергеевич
						a(href="#").header-basket-enter#modal-registration Вход
					.header-basket-inf-wrap
						.header-basket-inf-wrap-img
							img(src="img/icon-basket.png", alt="")
						.header-basket-inf-wrap-el
							.header-basket-inf-title Корзина
							.header-basket-inf-number
								span.bold-text 5
								span товаров 
							.header-basket-inf-cost
								span на сумму 
								span.bold-text 50 456 руб.

//Menu search
.menu-cat
	.main-cont
		.menu-cat-wrap
			.menu-cat-product 
				.menu-cat-product-title 
					i.fa.fa-bars
					span Каталог товаров

				.menu-cat-product-sub
					.menu-cat-product-sub-el
						- for (var a = 0; a < 8; a++)
							.first-lvl
								a(href="#") Первый уровень
								.menu-cat-product-next
								.menu-cat-product-sub-el
									- for (var b = 0; b < 6; b++)
										.second-lvl
											a(href="#") Второй уровень
											.menu-cat-product-next
											.menu-cat-product-sub-el
												.three-lvl
													a(href="#") Третий уровень

			.menu-cat-search
				.menu-cat-search-wrap
					input(type="text" placeholder=" Что ищем? " id='main-search')
					label(for="main-search")
			.menu-cat-want
				.menu-cat-want-text Хочу найти
				.menu-cat-want-text-wrap
					- for (var j = 0; j < 4; j++)
						a(href="").menu-cat-want-text-el
							.menu-cat-want-text-img
								img(src="img/product-cat-1.jpg", alt="")
							.menu-cat-want-text-text кальян


