.main-left-menu
	ul
		- var menu=['Кальяны','Элеткронные кальяны','Табак','Бестабачная продукция','Уголь','Горелки, плитки, газ','Комплектующие','Аксессуары']
		- each val in menu 
			li #{val}
				ul
					- each val in menu 
						li
							a(href='#') #{val}