.block-pagination
	.block-pagination-wrap
		a(href="#") <<
		a(href="#") <
		a(href="#")	1
		a(href="#").active-pagination	2
		a(href="#")	3
		a(href="#")	4
		a(href="#")	5
		a(href="#")	...
		a(href="#")	9
		a(href="#")	>
		a(href="#")	>>
	.block-pagination-all
		.block-pagination-all-top Показать еще
		.block-pagination-all-val Показано 1-5 из 20